/* your styles go here */


/*Custom Text Color*/

.customtextcolor {
    color: black
}

.customtextcolor:hover {
    color: lightgray
}

.cust_center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

nav.navbar a.nav-link.active,
nav.navbar a.nav-link:hover {
    color: #333;
    border-top-color: black;
}

.serverbutton:hover {
    border-radius: 25px;
    color: white;
    border-color: rgb(255, 149, 0);
    background-color: rgb(255, 149, 0);
}

.serverbutton:target {
    border-radius: 25px;
    color: white;
    border-color: rgb(255, 149, 0);
    background-color: rgb(255, 149, 0);
}

.cust_image {
    width: auto;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
}