/* your styles go here */


/*Custom Text Color*/

.customtextcolor {
    color: black
}

.customtextcolor:hover {
    color: lightgray
}

.cust_center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

nav.navbar a.nav-link.active,
nav.navbar a.nav-link:hover {
    color: #333;
    border-top-color: black;
}

.serverbutton:hover {
    border-radius: 25px;
    color: white;
    border-color: rgb(255, 149, 0);
    background-color: rgb(255, 149, 0);
}

.serverbutton:target {
    border-radius: 25px;
    color: white;
    border-color: rgb(255, 149, 0);
    background-color: rgb(255, 149, 0);
}

.cust_image {
    width: auto;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.rustprogressbar {
    width: 300px;
    height: 30px;
}


/* For Chrome or Safari */

progress::-webkit-progress-bar {
    background-color: #eeeeee;
}

progress::-webkit-progress-value {
    background-color: rgb(255, 149, 0) !important;
}


/* For Firefox */

progress {
    background-color: #eee;
}

progress::-moz-progress-bar {
    background-color: rgb(255, 149, 0) !important;
}


/* For IE10 */

progress {
    background-color: #eee;
    text-align: center;
    border-collapse: collapse;
    background-color: rgb(255, 149, 0);
    display: inline-block;
    position: relative;
}

progress::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    right: 0;
}

table {
    table-layout: fixed;
    width: 100%;
}


/*border: 1px solid black;*/

th,
td {
    text-align: center;
    height: 30px;
}